<header class="page-header">
    <div class="container container--flex container--align-items-center">
        <div class="page-header__logo">
            <img class="page-header__logo-image" src="img/mark-weber-logo-grey.png" alt="Логотип Марк Вебер" width="128" />
        </div>
        <div class="page-header__since-2007">
            <img src="img/since_2007.svg" alt="С 2007 года создаем сайты корпораций" class="page-header__since-2007-image" width="60" />
            <p class="page-header__since-2007-text">
                Создаем сайты корпораций
            </p>
        </div>
        <nav class="main-nav js-menu js-initially-shown">
            <a href="#" class="main-nav__burger-btn js-burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="main-nav__content js-menu-content">

                <div class="main-nav__content-wrapper">
                    <!-- <a href="#" class="main-nav__close-btn js-menu-close-btn">
                        
                    </a> -->
                    <ul class="main-nav__list">
                        <li class="main-nav__list-item active">
                            <a class="main-nav__link">
                                Портфолио
                            </a>
                        </li>
                        <li class="main-nav__list-item">
                            <a href="#" class="main-nav__link js-submenu-trigger">
                                Услуги
                            </a>
                            <ul class="main-nav__submenu-list js-submenu-list">
                                <li class="main-nav__submenu-list-item"><a href="#" class="main-nav__submenu-link">Создание сайта</a></li>
                                <li class="main-nav__submenu-list-item"><a href="#" class="main-nav__submenu-link">Продвижение сайта</a></li>
                                <li class="main-nav__submenu-list-item"><a href="#" class="main-nav__submenu-link">Создание сайта</a></li>
                            </ul>
                        </li>
                        <li class="main-nav__list-item">
                            <a href="#" class="main-nav__link">
                                Студия
                            </a>
                        </li>
                        <li class="main-nav__list-item">
                            <a href="#" class="main-nav__link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                    <div class="main-nav__contacts">
                        <a href="tel:+78002504406" class="main-nav__contact-link">8 800 250-44-06</a>
                        <a href="mailto:info@markweber.ru" class="main-nav__contact-link">info@markweber.ru</a>
                    </div>
                    <div class="main-nav__social">
                        <a href="#" class="main-nav__social-link">
                            Be
                        </a>
                        <a href="#" class="main-nav__social-link">
                            Inst
                        </a>
                        <a href="#" class="main-nav__social-link">
                            Vk
                        </a>
                    </div>
                    <a href="#" class="main-nav__application">Заявка на проект</a>
                </div>
            </div>
        </nav>
    </div>
</header>
