.blog-slider {
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
    @include breakpoint(mobile) {
        margin-top: 38px;
    }
}

.blog-slider__wrapper {
    margin-right: calc(-1 * (100vw - 100%) / 2);
    margin-left: calc(-1 * (100vw - 100%) / 2);
    
    @include breakpoint(large-desktop) {
        margin-left: -40px;
        margin-right: -40px;
    }
    @include breakpoint(mobile) {
        margin-top: 0;
    }
    @include breakpoint(supersmall-mobile) {
        margin-left: -20px;
        margin-right: -20px;
    }
    .swiper-slide {
        width: 314px;
        &:last-child {
            margin-right: 30px !important;
            @include breakpoint(supersmall-mobile) {
                margin-right: 20px !important;
            }
        }
        @include breakpoint(mobile) {
            max-width: 80%;
        }
    }

    .swiper-slide__wide {
        width: 452px;
        
        @include breakpoint(mobile) {
            max-width: 90%;
        }
    }


    .swiper-slide__video {
        width: 392px;
        @include breakpoint(mobile) {
            max-width: 90%;
        }
    }

    .swiper-container {
        display: flex;
        padding-left: calc(172px + 20px + (100% - 1560px) / 2);
        @include breakpoint(large-desktop) {
            padding-left: 40px + 172px;
        }

        @include breakpoint(mobile) {
            padding-left: 40px;
        }

        @include breakpoint(supersmall-mobile) {
            padding-left: 20px;
        }
    }
}

.blog-slider__small-image {
    position: absolute;
    width: 288px;
    height: 156px;
    bottom: 18px;
    right: 18px;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 0.3s ease-out;

    width: 50%;
    width: 50%;
    // bottom: 0;
    @include breakpoint(mobile) {
        width: 204px;
        height: 124px;
    }
}

.blog-slider__heading {
    font-size: 18px;
    line-height: 22px;
    width: 175px;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    @include breakpoint(mobile) {
        margin-bottom: 35px;
        position: static;
        width: 100%;
    }
    &::after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #f7dd85;
        margin-left: 5px;
        vertical-align: middle;
        display: inline-block;
    }
}

.blog-slider__card {
    display: block;
    width: 100%;
    &:link,
    &:visited {
        color: black;
    }
    .no-touch &:hover,
    .touch &:active {
        .blog-slider__small-image {
            transform: scale(1.05);
        }


        .blog-slider__image-container {
            &::after {
                opacity: 1;
            }
        }

       
    }


    &--with-item {
        .blog-slider__image-container {
            background-color: #daebf7;
            min-height: 226px;
            transition: background-color 0.3s;
            @include breakpoint(mobile) {
                min-height: 250px;
            }
        }
    }

    &--with-video {
        .blog-slider__image-container {
            width: 100%;
            min-height: 242px;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                margin-left: -20px;
                margin-top: -20px;
                transition: opacity .2s;
                background-image: url("data:image/svg+xml,%0A%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath d='M0 2.21v30.9a2 2 0 0 0 2 2 1.9 1.9 0 0 0 .88-.21l31.46-15.45a2 2 0 0 0 .92-2.67 2 2 0 0 0-.92-.92L2.88.41a2 2 0 0 0-2.68.92 2 2 0 0 0-.2.88z' fill='%23fff'/%3E%3C/svg%3E");
                background-size: 100% auto;
                background-position: center;
                background-repeat: no-repeat;
                opacity: .8;
            }
        }


        .blog-slider__image {
            position: absolute;
            width: 100%;
            height: 100%;
            @include objectFitCover();
        }
    }
}

.blog-slider__description-text {
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    display: block;
}

.blog-slider__image-container {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
}

.no-touch .blog-slider__card:hover .blog-slider__image-container,
.touch .blog-slider__card:active .blog-slider__image-container {
    background-color: #b4ccdd;
    &::before {
        transform: scale(1.05);
    }
}

.blog-slider__image {
    display: block;
    width: 100%;
    height: auto;
}

.blog-slider__image-annotation-block {
    position: absolute;
    top: 18px;
    left: 18px;
    display: flex;
    flex-direction: column;
}

.blog-slider__image-annotation-label {
    background-color: $primary-color;
    display: block;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    border-radius: 12px;
    padding: 4px 8px;
    align-self: flex-start;
}

.blog-slider__image-annotation-details {
    font-size: 18px;
    line-height: 21px;
    margin-top: 18px;
    width: 242px;
}

.blog-slider__paginator-buttons {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, transform 0.2s, visibility 0s linear 0.2s;
    transform: translateZ(0) translateX(-100%);
    position: absolute;
    right: 0;
    bottom: 38px;
    z-index: 1;
    display: flex;
    align-items: center;
    @include breakpoint(mobile) {
        display: none;
    }
    &.shown {
        opacity: 1;
        transform: translateZ(0) translateX(0%);
        visibility: visible;
        transition: 0.2s;
    }
}

.blog-slider__paginator-button {
    width: 54px;
    height: 54px;
    background-color: $primary-medium;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    z-index: 1;
    transition: all .2s;
    outline: none;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: $primary-saturated;
        z-index: -1;
        transform: scale(0);
        transition: transform .3s ease;
    }
    &:last-child {
        margin-right: 0;
    }
    @include noHighlight();


    .no-touch &:hover,
    .touch &:active {
        &::before {
            transform: scale(1);
        }
    }

    &.swiper-button-disabled {
        opacity: 0;
        visibility: hidden;
       
        transition: opacity .2s, visibility 0s linear .2s;
    }
}




.blog-slider__video-description {
    position: absolute;
    
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 22px;
}