.blog {
    margin-top: 100px;
    @include breakpoint(mobile) {
        margin-top: 50px;
    }
    @include breakpoint(supersmall-mobile) {
        margin-top: 0;
    }
}

.blog__heading {
    font-size: 32px;
    line-height: 45px;
    margin-top: -5px;
    @include breakpoint(mobile) {
        margin-top: 60px;
    }
    @include breakpoint(supersmall-mobile) {
        font-size: 28px;
        line-height: 34px;
    }
}

.blog__list {
    margin: -15px;
    margin-top: 25px;
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    @include breakpoint(mobile) {
        margin-bottom: 80px;
    }
    
}

.blog__item {
    padding: 15px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    @include breakpoint(laptop) {
        width: 50%;
    }
    @include breakpoint(small-tablet) {
        width: 100%;
    }
    // .blog-slider__card--with-item {
    //     flex-grow: 1;
    //     display: flex;
    //     flex-direction: column;
    //     .blog-slider__image-container {
    //         flex-grow: 1;
    //     }
    // }

    // .blog-slider__description-text {
    //     margin-top: 20px;
    // }
}

// .blog-card {
//     height: 300px;
//     width: 100%;
//     background-color: green;
// }
