.case-details__about-text {
    color: black;
    font-size: 18px;
    line-height: 22px;
    display: block;
    @include breakpoint(small-tablet) {
        margin-bottom: 20px;
    }
    &::after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #f7dd85;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
}

.case-details__about-project {
    display: flex;
    padding-top: 75px;
    padding-bottom: 130px;
    @include breakpoint(small-tablet) {
        flex-direction: column;
        padding-bottom: 75px;
    }
    @include breakpoint(supersmall-mobile) {
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

.case-details__about-project-left-column,
.case-details__about-project-right-column {
    width: 50%;
    @include breakpoint(small-tablet) {
        width: 100%;
    }
}

.case-details__project-link {
    color: black;
    font-size: 20px;
    line-height: 26px;
    position: relative;
    display: inline-block;
    @include breakpoint(supersmall-mobile) {
        font-size: 18px;
        line-height: 22px;

    }
    &::before {
        content: '';
        width: 100%;
        height: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $primary-saturated;
    }
    &:link,
    &:visited {
        color: black;
    }
}

.case-details__project-description {
    font-size: 20px;
    line-height: 26px;
    margin-top: 30px;
    @include breakpoint(supersmall-mobile) {
        font-size: 16px;
        line-height: 20px;
    }
}

.case-details__features-list {
    counter-reset: item;
}

.case-details__features-list-item {
    counter-increment: item;
    margin-bottom: 120px;
    @include breakpoint(supersmall-mobile) {
        margin-bottom: 80px;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.case-details__feature-description {
    display: flex;
    @include breakpoint(small-tablet) {
        flex-direction: column;
    }
}

.case-details__feature-description-left-column,
.case-details__feature-description-right-column {
    width: 50%;
    @include breakpoint(small-tablet) {
        width: 100%;
    }
}

.case-details__feature-description-left-column {
    padding-right: 60px;
    display: flex;
    @include breakpoint(small-tablet) {
        padding-right: 0;
    }
    &::before {
        content: counter(item);
        font-size: 32px;
        line-height: 38px;
        color: $primary-saturated;
        font-weight: 700;
        margin-right: 60px;
        @include breakpoint(mobile) {
            margin-right: 30px;
        }
    }
}

.case-details__feature-description-right-column {
    display: flex;
    border-left: 1px solid #a1a1a1;
    @include breakpoint(small-tablet) {
        border-left: none;
        margin-top: 30px;
    }
    @include breakpoint(small-mobile) {
        flex-direction: column;
    }
}

.case-details__feature-heading {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    width: 50%;
    margin: 0 auto;
    @include breakpoint(small-tablet) {
        margin: 0;
        width: 100%;
    }
    @include breakpoint(small-mobile) {
        font-size: 26px;
        line-height: 32px;
    }
}

.case-details__feature-description-text {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
   
    @include breakpoint(supersmall-mobile) {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
    }
}

.case-details__feature-description-author {
    margin-bottom: 75px;
    color: #868686;
    font-size: 19px;
    line-height: 26px;
    @include breakpoint(supersmall-mobile) {
        font-size: 16px;
        line-height: 20px;
    }
}

.case-details__feature-description-author-image-container {
    width: 110px;
    height: 110px;
    flex-shrink: 0;
    margin-left: -55px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 42px;
    @include breakpoint(small-tablet) {
        margin-left: 0;
        margin-right: 30px;
    }
    @include breakpoint(small-mobile) {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 140px;
        height: 140px;
    }
}

.case-details__feature-description-author-image {
    display: block;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}

.case-details__slide-card {
    display: flex;
    flex-direction: column;
}


.case-details__slide-image-container {
    // height: 565px;
    width: 100%;
    padding-bottom: 53.8%;
    position: relative;
}

.case-details__slide-image {
    display: block;
    height: 100%;
    max-width: none;
    width: auto;


    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @include objectFitCover();
}

.case-details__slide-description {
    font-size: 20px;
    line-height: 26px;
    color: black;
    margin-top: 20px;
    @include breakpoint(supersmall-mobile) {
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }
}


.case-details__image-section {
    @include breakpoint(mobile) {
        margin-left: -40px;
        margin-right: -40px;
    }
}

.case-details__image-slider {
    margin-right: calc(-1 * (100vw - 100%) / 2);
    margin-left: calc(-1 * (100vw - 100%) / 2);
    @include breakpoint(large-desktop) {
        margin-left: -40px;
        margin-right: -40px;
    }

    
    // @include breakpoint(supersmall-mobile) {
    //     margin-left: -20px;
    //     margin-right: -20px;
    // }

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-right: 0;
    }
    .swiper-container {
        width: 100%;
        padding-left: calc(20px + (100% - 1560px) / 2);
        @include breakpoint(large-desktop) {
            padding-left: 40px;
        }
        @include breakpoint(mobile) {
            padding-left: 20px;
        }
        // @include breakpoint(supersmall-mobile) {
        //     padding-left: 20px;
        // }
    }

    .swiper-slide {
        width: 66.7%;
        // width: auto;
        height: auto;
       
        display: flex;
        flex-direction: column;
        
        @include breakpoint(small-mobile) {
            width: 85%;
        }
        &:last-child {
            margin-right: 30px !important;
            @include breakpoint(mobile) {
                margin-right: 20px !important;
            }
        }
    }
}
