.case-team {
    display: flex;
    padding-top: 95px;
    // padding-bottom: 95px;
    @include breakpoint(small-tablet) {
        flex-direction: column;
    }
    @include breakpoint(mobile) {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

.case-team__text {
    font-size: 18px;
    line-height: 22px;
    flex-shrink: 0;
    margin-right: 15px;
    @include breakpoint(mobile) {
        margin-right: 0;
    }
    &::after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #f7dd85;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
}

.case-team__wrapper {
    // width: 50%;
    // flex-grow: 1;
    // @include breakpoint(small-tablet) {
    //     width: 100%;
    //     flex-grow: 0;
    // }
}


.case-team__list {
    
    margin: -28px -28px;
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(small-tablet) {
        margin-top: 28px;
    }
    @include breakpoint(small-mobile) {
        margin: -15px -15px;
        margin-top: 15px;
        margin-top: 30px;
    }
}

.case-team__list-item {
    width: 220px;
    width: 16.66%;
    padding: 28px;
    @include breakpoint(laptop) {
        width: 20%;
    }
    @include breakpoint(tablet) {
        width: 25%;
    }
    @include breakpoint(mobile) {
        width: 33.33%;
    }
    @include breakpoint(small-mobile) {
        width: 50%;
        padding: 15px;
    }
}

.case-team__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &:link,
    &:visited {
        color: black;
    }
}

.case-team__slider {
    width: 50%;
    flex-grow: 1;
    .swiper-container {
        overflow: visible;
    }
    .swiper-slide {
        width: 60%;
        height: auto;
        box-sizing: border-box;
    }
    @include breakpoint(small-tablet) {
        width: auto;
        flex-grow: 0;
    }
    @include breakpoint(mobile) {
        margin-top: 30px;
        // margin-left: -20px;
        // margin-right: -20px;
    }
}

.case-team__width-wrapper {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    @include breakpoint(mobile) {
        width: 90%;
    }
}

.case-team__image-container {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    display: block;
}


.case-team__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
}


.case-team__person-status {
    font-size: 16px;
    line-height: 27px;
    color: #7E7E7E;
    text-align: center;
    display: block;
    // @include breakpoint(mobile) {
    //     font-size: 18px;
    // }
}


.case-team__person-name {
    font-size: 16px;
    line-height: 20px;
    color: black;
    text-align: center;
    display: block;
    @include breakpoint(mobile) {
        font-size: 18px;
        line-height: 24px;
    }
}   

