.container {
    max-width: $max-container-width;
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    @include breakpoint(mobile) {
        padding: 0 20px;
    }
    &--flex {
        display: flex;
    }
    &--align-items-center {
        align-items: center;
    }
}


.page-content {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}



.two-column-layout-container {
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    }

}


.two-column-layout-left-column {
     width: 178px;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        width: 100%;
    }
}

.two-column-layout-right-column {
    width: 50%;
    flex-grow: 1;
    @include breakpoint(mobile) {
        width: 100%;
        
    }
}



main .container > *:first-child {
    padding-top: 100px;
    
}



