.page-header {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.page-header__logo {
    margin-right: 45px;
    @include breakpoint(mobile) {
        margin-right: 24px;
    }
}

.page-header__logo-image {
    width: 128px;
    display: block;
    @include breakpoint(supersmall-mobile) {
        width: 102px;
    }
}

.page-header__since-2007-image {
    width: 60px;
    margin-right: 20px;
    @include breakpoint(supersmall-mobile) {
        width: 48px;
    }
}

.page-header__since-2007 {
    display: flex;
    align-items: center;
    
}


.page-header__since-2007-text {
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    .page-header--black & {
        color: black;
    }
    @include breakpoint(mobile) {
        display: none;
    }
}
