.request {
    color: white;
    min-height: 54vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 58px 0;
    padding-bottom: 65px;
    // padding-bottom: 95px;
    z-index: 1;
    position: relative;
    @include breakpoint(laptop) {
        min-height: 742px;
    }
    @include breakpoint(mobile) {
        padding: 70px 0;
        padding-top: 55px;
        margin-top: 56px;
    }
}



.request__bg {
    position: absolute;
    width: 100vw;
    left: calc(-1 * ((100vw - 100%) / 2));
    top: 0;
    height: 100%;
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    z-index: -1;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(black, .25);
        // z-index: 20;
    }
}

.request__form-block {
    width: 636px;
    margin-left: auto;
    margin-top: auto;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        margin-top: auto;
    }
}

.request__heading {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
    svg {
        fill: $primary-medium;
        margin-left: 22px;
    }
}



.request__welcome {
    margin-right: auto;
    margin-bottom: auto;
    font-size: 18px;
    line-height: 22px;
    &:after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: $primary-color;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
}


.request__form-wrapper {
    background-color: $primary-saturated;
    padding: 30px 35px;
}
