.request {
    color: white;
    min-height: 54vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 60px 0;
    @include fullwidthBG {
        background-image: linear-gradient(to bottom, rgba(black, .2), rgba(black, .2)), url('../img/form-bg.jpg');
    }

    @include breakpoint(laptop) {
        min-height: 742px;
    }
    @include breakpoint(mobile) {
        padding: 70px 0;
    }
}

.request__form-block {
    width: 636px;
    margin-left: auto;
    margin-top: auto;
    @include breakpoint(mobile) {
        width: 100%;
        margin: 0;
        margin-top: auto;
    }
    
}

.request__heading {
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
    svg {
        fill: $primary-medium;
        margin-left: 22px;
    }
}



.request__form-input,
.request__textarea {
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font: inherit;
    font-family: $open-sans;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
}


.request__textarea {
    resize: none;
    border-radius: 0;
    height: 50px;
}


.request__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
}


.request__form {
    padding: 30px 35px;
    background-color: $primary-saturated;
    color: black;
    display: flex;
    flex-direction: column;
}



.request__label {
    font-family: $open-sans;
    font-size: 18px;
    line-height: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 15px;
}



.request__submit {
    margin-left: auto;
    font: inherit;
    margin-top: 15px;
}



.request__submit-content {
    display: flex;
    align-items: center;
    background-color: #242424;
    color: white;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    padding: 15px 25px;
    border-radius: 25px;
    min-width: 200px;
    svg {
        fill: #FFE383;
        margin-left: auto;
    }
}



.request__welcome {
    margin-right: auto;
    margin-bottom: auto;
    font-size: 18px;
    line-height: 22px;
    &:after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: $primary-color;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
}