.back-btn {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    &:link,
    &:visited {
        color: white;
    }

    &--black {
        &:link,
        &:visited {
            color: black;
        }
    }
}

.back-btn__icon {
    width: 30px;
    height: 30px;
    background-color: $primary-medium;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 50%;
    position: relative;
    bottom: 2px;
    svg {
        fill: black;
    }
}

.application {
    color: black;
    display: flex;
    flex-direction: column;
}

.application__form-input,
.application__textarea {
    background-color: transparent;
    -webkit-appearance: none;
    border: none;

    outline: none;
    font: inherit;
    font-family: $open-sans;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 10px;
    font-weight: 300;
    @include placeholder {
        font: inherit;
        font-family: $open-sans;
        font-size: 18px;
        line-height: 24px;
        color: black;
        font-weight: 300;
    }
}

.application__textarea {
    resize: none;
    border-radius: 0;
    height: 86px;
}

.application__form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    &:last-of-type {
        margin-bottom: 0;
        border-bottom: none;
    }

    .parsley-errors-list.filled {
        
        font-family: $open-sans;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        margin-left: auto;
        li {
            margin-bottom: 5px;
        }
    }
}

.application__label {
    font-family: $open-sans;
    font-size: 18px;
    line-height: 24px;
    color: black;
    font-weight: 300;
    margin-bottom: 15px;
}

.application__submit {
    margin-left: auto;
    font: inherit;
    margin-top: 18px;
    @include breakpoint(supersmall-mobile) {
        margin-left: 0;
        width: 100%;
    }

    .no-touch &:hover {
        svg {
            animation-name: hint;
            animation-duration: .6s;
            
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
        }
    }
}


@keyframes hint {
    0% {
        // transform: translateX(0);
        opacity: 0;
    }

    100% {
        // transform: translateX(5px);
        opacity: 1;
    }
}

.application__submit-content {
    display: flex;
    align-items: center;
    background-color: #242424;
    color: white;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    padding: 15px 25px;
    border-radius: 25px;
    min-width: 200px;
 
    svg {
        fill: #ffe383;
        margin-left: auto;
    }
}

.text-with-bar {
    color: black;
    font-size: 18px;
    line-height: 22px;
    display: block;
    margin-top: 5px;
    &::after {
        content: '';
        width: 30px;
        height: 3px;
        background-color: #f7dd85;
        margin-left: 10px;
        vertical-align: middle;
        display: inline-block;
    }
}
