// Colors

$green: #256963;
$red: #D81E23;
$bg-grey: #E2E2E0;


$primary-color: #F7DD85;
$primary-saturated: #FEC70A;
$primary-medium: #FFDC64;

$blue: #DAEBF7;


// Fonts

$proxima: 'Proxima Nova', 'Arial', sans-serif;
$open-sans: 'Open Sans', 'Arial', sans-serif;


// Widths

$max-container-width: 1600px;


// Breakpoints

$large-desktop-width: 1600px;
$desktop-width: 1366px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;






